@import 'c/formulaShareCssLibrary';

.plusIconStyle {
    background-color: #005fb2;
    border-color: lightgray;
}

.crossIconStyle {
    background-color: white;
    border-color: lightgray;
}

.linkIconStyle {
    background-color: lightgrey;
    border-color: lightgray;
}

@keyframes fadeInFrame {
    from {
        box-sizing: border-box;
        box-shadow: 0 0 0 1px white inset;
    }
    to {
        box-sizing: border-box;
        box-shadow: 0 0 0 1px #1589ee inset;
    }
}
.selectedObjectFrame {
    box-sizing: border-box;
    box-shadow: 0 0 0 1px #1589ee inset;
    animation-name: fadeInFrame;
    animation-duration: 1s;
}

.objectLabel {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    min-width: 200px;
}

@keyframes rotate45 {
    from {
        background-color: #005fb2;
        transform: rotate(0deg);
    }
    to {
        background-color: white;
        transform: rotate(45deg);
    }
}
.rotate45Animated {
    transform: rotate(45deg);
    animation-name: rotate45;
    animation-duration: 0.75s;
}