@import 'c/formulaShareCssLibrary';

.baselineIconStyle {
    display: inline-block;
    border: solid #dddbda;
    border-style: solid;
    border-width: thin;
    border-radius: 35px;
    padding: 0.2em 0.4em;
}

.linkIconStyle {
    position: relative;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
}

.relationshipLabel {
    position: absolute;
    right: 40px;
    min-width: 450px;
    text-align: right;
    font-style: italic;
}

.deleteIconStyle {
    position: absolute;
    left: 28px;
    top: 0px;
/*    background-color: #EF6E64;
    border-radius: 5px;
    padding: 0.0em 0.2em;
*/
    /*
    position: absolute;
    top: -12px;
    left: 30px;
    background-color: #EF6E64;
    border: #EF6E64;
    border-style: solid;
    border-width: thin;
    border-radius: 20px;
    padding: 0.1em 0.2em;   */
}

.verticalJoin {
    width: 1px;
    height: 20px;
    border-right: 2px solid #dddbda;
}

.diagonalTopLeft {
    position:relative;
    border-top:2px solid #dddbda;
    width:15px;
    transform: translate(1.5px, -13px) rotate(45deg);
    transform-origin: top right;
}

.diagonalTopRight {
    position:relative;
    border-top:2px solid #dddbda;
    width:15px;
    transform: translate(-1.5px, -13px) rotate(-45deg);
    transform-origin: top left;
}

.diagonalBottomLeft {
    position:relative;
    border-top:2px solid #dddbda;
    width:15px;
    transform: translate(0px, -8px) rotate(-45deg);
    transform-origin: top right;
}

.diagonalBottomRight {
    position:relative;
    border-top:2px solid #dddbda;
    width:15px;
    transform: translate(0px, -8px) rotate(45deg);
    transform-origin: top left;
}