<template>

    <div class="slds-section slds-is-open">
        <h3 class="slds-section__title slds-theme_shade">
            <span 
                class="slds-truncate slds-p-horizontal_small slds-p-vertical_x-small slds-text-title_caps"
                title="Rule Name">
                Rule Name
            </span>
        </h3>
        <div aria-hidden="false" class="slds-section__content">
            <c-formula-share-rule-detail-name-label
                rule-name={rule.developerName}
                rule-label={rule.label}
                rule-description={rule.description}
                rule-active={rule.active}
                is-edit={isEdit}
                onlabelchange={handleLabelChange}
                onnamechange={handleNameChange}
                ondescriptionchange={handleDescriptionChange}
                onactivechange={handleActiveChange}>
            </c-formula-share-rule-detail-name-label>
        </div>
    </div>

    <div class="slds-section slds-is-open">
        <h3 class="slds-section__title slds-theme_shade">
            <span 
                class="slds-truncate slds-p-horizontal_small slds-p-vertical_x-small slds-text-title_caps"
                title="Object to share">
                Object to share
            </span>
        </h3>
        <div aria-hidden="false">
            <c-formula-share-rule-detail-shared-object 
                shared-object-api-name={rule.objectSharedAPIName}
                onsetsharedobjectdetail={handleSetSharedObjectDetail}
                onsharedobjectchange={handleSharedObjectChange}
                onaccountrelatedowd={handleSetAccountRelatedOwd}>
            </c-formula-share-rule-detail-shared-object>
        </div>
    </div>


    <!-- Show section only if related object details -->
    <template if:true={supportsRelated.data}>
        <template if:true={rule.objectSharedLabel}>
            <div class="slds-p-top_xx-small stackOrderTop">

                <div class="slds-section slds-is-open">
                    <h3 class="slds-section__title slds-theme_shade">
                        <span 
                            class="slds-truncate slds-p-horizontal_small slds-p-vertical_x-small slds-text-title_caps"
                            title="Location of field controlling sharing">
                            Location of field controlling sharing
                        </span>
                    </h3>
                    <div aria-hidden="false" class="slds-section__content">
                        <lwc:component
                            lwc:is={ruleDetailLocationConstructor}
                            relationship={rule.relationship}
                            controlling-object-api-name={rule.controllingObjectApiName}
                            shared-object-label={rule.objectSharedLabel}
                            selected-location={selectedLocation}
                            saved-rule-type={savedRuleType}
                            onruletypechange={handleRuleTypeChange}
                            onrelationshipchange={handleRelationshipChange}
                            onpreventsave={handlePreventSave}>
                        </lwc:component>
                    </div>
                </div>

            </div>
        </template>
        <!-- Line below can be added to monitor full JSON -->
    <!-- Relationship detail: {ruleDetail} -->
    </template>

    <template if:true={sharedObjectDetail}>

        <div class="slds-section slds-is-open">
            <h3 class="slds-section__title slds-theme_shade">
                <span 
                    class="slds-truncate slds-p-horizontal_small slds-p-vertical_x-small slds-text-title_caps"
                    title="Share with">
                    Share with
                </span>
            </h3>
            <div aria-hidden="false" class="slds-section__content">
                <c-formula-share-rule-detail-field
                    disable-share-field={disableShareField}
                    object-with-share-field={objectWithShareField}
                    share-with={rule.shareWith}
                    internal-sharing-model={sharedObjectDetail.internalSharingModel}
                    external-sharing-model={sharedObjectDetail.externalSharingModel}
                    share-field={shareField}
                    share-field-type={rule.controllingObjectSharedToFieldType}
                    onsharewithchange={handleShareWithChange}
                    onsharefieldchange={handleShareFieldChange}
                    onsharefieldtypechange={handleShareFieldTypeChange}>
                </c-formula-share-rule-detail-field>
            </div>
        </div>
    
    </template>

    <template if:true={sharedObjectDetail}>

        <div class="slds-section slds-is-open">
            <h3 class="slds-section__title slds-theme_shade">
                <span 
                    class="slds-truncate slds-p-horizontal_small slds-p-vertical_x-small slds-text-title_caps"
                    title="Sharing provided">
                    Sharing provided
                </span>
            </h3>

            <!-- Show default team sharing configurtion if this option selected -->
            <template if:true={shareWithDefaultTeam}>
                <lwc:component
                    lwc:is={ruleDetailTeamAccessConstructor}
                    rule={rule}
                    share-with={rule.shareWith}
                    onteamaccessupdate={handleTeamAccessUpdate}>
                </lwc:component>
            </template>

            <div aria-hidden="false" class="slds-section__content">
                <c-formula-share-rule-detail-access 
                    suppress-access-level={shareWithDefaultTeam}
                    internal-sharing-model={sharedObjectDetail.internalSharingModel}
                    external-sharing-model={sharedObjectDetail.externalSharingModel}
                    account-related-owd={accountRelatedOwd}
                    is-custom={sharedObjectDetail.isCustom}
                    shared-object-id={sharedObjectDetail.objectId}
                    shared-object-label={sharedObjectDetail.objectLabel}
                    shared-object-api-name={rule.objectSharedAPIName}
                    access-level={rule.accessLevel}
                    contact-access={rule.contactAccess}
                    case-access={rule.caseAccess}
                    opportunity-access={rule.opportunityAccess}
                    sharing-reason={rule.sharingReason}
                    onaccesslevelchange={handleAccessLevelChange}
                    onsharingreasonchange={handleSharingReasonChange}
                    oncontactaccesschange={handleContactAccessChange}
                    oncaseaccesschange={handleCaseAccessChange}
                    onopportunityaccesschange={handleOpportunityAccessChange}
                    >
                </c-formula-share-rule-detail-access>
            </div>
        </div>        

    </template>

</template>