# Calls Sync Dependencies workflow from FormulaShare-App repo to update the 
# main branch with latest version of dependencies

name: Sync to FS-App repo

# This would previously run for all commits to main
# Revised workflow is that changes are synced from the app repo to this repo, so we only 
# need to trigger the sync manually on open source contributions. 
# Workflow call retained for these cases
on:
  workflow_dispatch:
#  push:
#    branches:
#       - main

env:
  PAT_FOR_REPO_INTEGRATION:  ${{ secrets.PAT_FOR_REPO_INTEGRATION }}

jobs:
  call-sync:
    runs-on: ubuntu-latest
    steps:

    - name: 'Call sync workflow'
      run: |
        curl -XPOST -H "Authorization: Bearer $PAT_FOR_REPO_INTEGRATION" -H "Content-Type:application/json" \
        https://api.github.com/repos/LawrenceLoz/FormulaShare-App/dispatches \
        --data "{\"event_type\": \"sync_main\"}"