# Validates a feature branch is deployable prior to merging into main
# Carries out the following in parallel:
# 1. Run all Jest tests
# 2. Create a scratch org WITHOUT package namespace, deploy and run all apex tests
# 3. Create scratch orgs WITH package namespace, deploy and run all apex tests

name: Validate Branch is Deployable

# Run only on demand or on PRs to main
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

env:
  JWT_SIGNING_KEY:  ${{ secrets.JWT_SIGNING_KEY }}
  CONSUMER_KEY:     ${{ secrets.ISV_DEV_HUB_CONSUMER_KEY }}
  DEV_HUB_USERNAME: ${{ secrets.ISV_DEV_HUB_USERNAME }}

jobs:
  run-jest-tests:
    name: Run Jest Tests
    runs-on: ubuntu-latest
    container: salesforce/cli:latest-slim
    steps:

    - name: 'Checkout source code'
      uses: actions/checkout@v2
    
    - name: Setup Jest
      run: |
        sf force lightning lwc test setup
    
    - name: Run all Jest tests
      run: |
        sf force lightning lwc test run


  deploy-and-test-without-namespace:
    name: Deploy and Test No Namespace
    runs-on: ubuntu-latest
    container: salesforce/cli:latest-slim
    steps:

    - name: 'Checkout source code'
      uses: actions/checkout@v2
        
    - name: Authenticate and set default DevHub
      run: |
        echo "$JWT_SIGNING_KEY" > server.key
        sf org login jwt --client-id $CONSUMER_KEY --jwt-key-file server.key --username $DEV_HUB_USERNAME --set-default-dev-hub --alias devhub
      shell: bash

    - name: Create scratch org
      run: |
        sf org create scratch --definition-file config/project-scratch-def.json --set-default --duration-days 1

    - name: Push source
      run: |
        sf project deploy start

    - name: Assign permission sets
      run: |
        sf org assign permission-set --name FormulaShare_Admin_User
        sf org assign permission-set --name FormulaShare_Sample_App_Permissions

    - name: Run all apex tests
      run: |
        sf apex run test --synchronous

    - name: Delete scratch org
      run: |
        sf org delete scratch --no-prompt
